.loader {
  padding-top: 40px;

  &__icon {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.2;

    animation: spin infinite 5s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
