body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
  background-color: #010509;
  color: #f5fffe;
}

#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding-inline: 50px;
  }
}
