.header {
  padding-block: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    will-change: filter;
    transition: filter 300ms;
    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }

  &__loader {
    width: 50px;
  }
}
